.App {
    font-family: sans-serif;
    text-align: center;
  }
  .navContainer {
    padding: 5px 6.5%;
    width: 100vw;
    background-color: rgb(221, 2, 133);
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
  }
  .elements {
    padding: 5px 10px;

    font-size: 1.1rem;
  }
  .navItems ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .cartComp {
    width: 13rem;
    background-color: rgba(168, 5, 103, 0.986);
    font-size: 1.5rem;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 10px;
  }
  .cartComp span {
    font-size: 0.8rem;
  }
  .cartTitle{
  
  }


  .subNavbar ul li{
    
    border: 1px solid rgb(0, 0, 0);
margin: 20px auto;

  }
  .subNav img{
    /* width: 3.5rem; */
    height: 4rem;
    display: block;
    margin: 0 auto;
    padding: 5px;
    background-color: pink;
  }
 
  .navbar:hover{
    background-color: rgb(228, 7, 154);

  }